@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

/* *******COLOR********** */
:root{
--principal: #08a0f7;
}


/* ************NORMALIZE*********** */

body {
	margin: 0px;
	padding: 0px;
}


/* ********HEADER********* */

.header__index {
	font-family: Gloria Hallelujah;
	font-size: 1.5rem;
	background-image: linear-gradient(var(--principal), white);
	
}
.navbar__index {
	display: flex;
	align-items: center;
}

.navbar-brand__index, a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}
.header{
	width: 100%;
	background-image: linear-gradient(var(--principal), white);
}
.navbar-brand{
	font-family: Gloria Hallelujah;
}
.navbar-collapse {
    flex-grow: inherit;
	margin-right: 3rem;
	font-family: Gloria Hallelujah;
}
.header__logo{
	margin-right: 20px;
	animation-name: latido;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes latido {
	0% {
		transform: scale(1);
	  }
	15% {
		transform: scale(1.1);
	}
	30% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.1);
	}
	70% {
		transform: scale(1);
	}
}

.boton{
	padding: 0px 10px;
}
.boton:hover{
	font-size: 1.05em;
	font-weight: 600;
	border-radius: 25px;
	box-shadow: 0px 2px 4px var(--principal);
}



/* *********MEDIA QUERIES********* */
@media screen and (min-width:767px){
	.navbar__index {
		padding: 0px 12px;
		min-height: 150px;
		flex-wrap: nowrap;
		justify-content: space-between;
		}
	.navbar__items__index {
		margin-right: 3rem;
		font-size: 1.1rem;
		display: flex;
		list-style: none;
	}
	.navbar-brand{
		font-size: 1.5rem;
	}
	.brand__titulo{
		transition: all 0.5s;
	}
	.brand__titulo:hover {
		font-size: 1.7rem;
	}
	.header{
		min-height: 150px;
	}
	.main {
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.cita__title {
		max-width: 400px;
	}
	.main__image {
		width: 600px;
		height: 400px;
	}
	.footer__index {
		height: 120px;
		flex-wrap: nowrap;
	}
	.history__text {
		max-width: 400px;
		padding: 50px;
	}
	.history__image {
		height:350px;
		width: 400px;
	}
}
@media screen and (min-width:766px) and (max-width:920px){
	.main__image {
		width: 400px;
		height: 300px;
	}
	.cita__title {
		max-width: 350px;
		font: 1.8rem;
	}
}
@media screen and (min-width:420px) and (max-width:766px){
	.navbar__index {
		padding: 0px 8px;
		min-height: 120px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.navbar__items__index {
		margin-right: 3rem;
		font-size: 1.1rem;
		display: flex;
		list-style: none;
	}
	.navbar-brand{
		font-size: 1.5rem;
	}
	.brand__titulo{
		transition: all 0.5s;
	}
	.brand__titulo:hover {
		font-size: 1.7rem;
	}
	.header{
		min-height: 150px;
	}
	.foto__main {
		display: flex;
		justify-content: center;
	}
	.main__image {
		width: 400px;
		height: 300px;
	}
	.cita__title {
		padding: 15px;
	}
	.cita__autor {
		padding: 15px;
	}
	.history {
		flex-wrap: wrap;
	}
	.history__text {
		max-width: 500px;
		padding: 50px;
	}
	.history__image {
		height:250px;
		width: 300px;
	}
}
@media screen and (max-width:419px){
	.navbar__index {
		padding: 0px 8px;
		min-height: 120px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.navbar__items__index {
		margin-right: 3rem;
		font-size: 1.1rem;
		list-style: none;
		justify-content: start;
	}
	.navbar-brand{
		font-size: 1rem;
	}	
	.brand__titulo{
		transition: all 0.5s;
	}
	.brand__titulo:hover {
		font-size: 1.7rem;
	}
	.header{
		min-height: 150px;
	}
	.main__image {
		width: 300px;
		height: 180px;
	}
	.cita__title {
		display: flex;
		justify-content: center;
		max-width: 350px;
		padding: 10px;
	}
	.cita__autor {
		padding: 10px;
	}
	.footer__index {
		flex-wrap: wrap;
	}
	.history {
		flex-wrap: wrap;
	}
	.history__text {
		max-width:300px;
		padding: 20px;
	}
	.history__image {
		height:200px;
		width: 250px;
	}
}
@media screen and (max-width:300px){
	.foto__main {
		display: flex;
		justify-content: center;
	}
		.main__image {
		width: 200px;
		height: 150px;
	}
	.history {
		flex-wrap: wrap;
	}
	.history__text {
		max-width:200px;
		padding: 10px;
	}
	.history__image {
		height:150px;
		width: 200px;
	}
}


/* *************FOOTER************** */
.footer {
	font-family: Mallanna;
	background-image: linear-gradient(transparent, var(--principal));
	min-height: 100px;
	width: 100%;
}
.footer__index {
	display: flex;
	justify-content: space-between;
	font-family: Mallanna;
	background-image: linear-gradient(transparent, var(--principal));
	width: 100%;
}

.logos__redes{
	display: flex;
	align-items: center;
	gap: 10px;
	list-style: none;
	margin-right: 4rem;
}
.logo__copy {
	display: flex;
	align-items: center;
	gap: 10px;
	list-style: none;
}



/* ************MAIN************** */
.main{
	background-color: white;
	width: 100%;
}
.cita__title{
	font-family: dancing script;
	font-size: 2.4rem;
}



/* *************CONTACT************** */
.form{
	width: 100%;
}
.form__title{
	padding: 10px 20px;
}

.form__boton{
	background-image: linear-gradient(transparent, var(--principal));
}



/* **************ABOUT US************** */
.history {
	font-family: Mallanna;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.history__title{
	margin: 0px 0px 8px;
	font-family: system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 2rem;
	padding: 10px 20px;
}
.history__text {
	display: flex;
	font-size: 1.4rem;
}



/* **************PRODUCTS************** */
.product{
	width: 100%;
}
.product__page__title{
	padding: 10px 20px;
}
.product__container{
	background-image: linear-gradient(var(--principal), transparent);
	border: solid 2px black;
}
.product__image{
	margin-top: 15px;
	align-self: center;
	width: 200px;
	height: 200px;
}



/* ************GALLERY************* */
.gallery{
	width: 100%;
}
.gallery__title{
	padding: 10px 20px;
}
.gallery__main__container{
	width: 600px;
	max-height: 400px;
	padding: 10px 0px;
	border-radius: 25px;
}
.carousel{
	width: 800px;
	border: 2px solid;
	border-radius: 25px;
}