/* *************FOOTER************** */
/* PRODUCTS OUR_CLIENTS Y CONTACT_US CON BOOTSTRAP */
.footer {
	font-family: Mallanna;
	@include gradient($transp, $principal);
	min-height: 100px;
	width: 100%;
    
}
/*INDEX Y ABOUT_US SIN BOOTSTRAP*/
.footer__index {
	@extend .footer;
    display: flex;
	justify-content: space-between;

    .logos__redes{
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        margin-right: 4rem;
    }

    .logo__copy {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
    }    
}