/* ************* HEADER *********** */
/*INDEX Y ABOUT_US SIN BOOTSTRAP*/
.header__index {
	font-family: Gloria Hallelujah;
	font-size: 2rem;
	@include gradient($principal, $fondo);
    
    .navbar__index {
        display: flex;
        align-items: center;

        
        .navbar-brand__index, a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;

            .header__logo{
                margin-right: 20px;
                animation-name: latido;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }
    }	
}

/* PRODUCTS OUR_CLIENTS Y CONTACT_US CON BOOTSTRAP */
.header{
	width: 100%;
	@include gradient($principal, $fondo);
    .boton{
        font-size: 17.6px;
    }
    
    .navbar-brand{
        font-family: Gloria Hallelujah;
        font-size: 2rem;

        .header__logo{
            margin-right: 20px;
            animation-name: latido;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }

    .navbar-collapse {
        flex-grow: inherit;
        margin-right: 3rem;
        font-family: Gloria Hallelujah;
    }
}