/* *****************CHECKOUT**************** */
.checkout{
    width: 100%;
    margin-bottom: 2rem;
    .checkout__title{
        padding: 10px 20px;
    }
    .container__checkout{
        background: $fondo;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
    }

}

