
/* *************CONTACT************** */
.form{
	width: 100%;
    margin-bottom: 2rem;

    .form__title{
        padding: 10px 20px;
    }

    .form__boton{
        @include gradient($fondo, $principal);
    }
}



