
/* *************CONTACT************** */
.form{
	width: 100%;

    .form__title{
        padding: 10px 20px;
    }

    .form__boton{
        background-image: linear-gradient(var(--fondo), var(--principal));
    }
}



