
/* **************PRODUCTS************** */
.product{
	width: 100%;
    margin-bottom: 2rem;

    .product__page__title{
        padding: 10px 20px;
        margin-bottom: 3rem;
    }

    .product__container{
        @include gradient($principal, $fondo);
        border: solid 2px black;
        margin-top: 1rem;

        .product__image{
            margin-top: 15px;
            align-self: center;
            width: 200px;
            height: 200px;
        }
    }
}



